
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.dartcol{
    color: #474747;
}
.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px 15px;

}
/* Nav styles */
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.nav-tittle{
   font-weight: 800;
   font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;;
}
nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
nav li a {
    text-decoration: none;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Keeps items aligned */
}
.banner-content{
    max-width: 580px;
}
.banner-grettings{
    font-size: 45px;
    font-weight: 600;
}
.banner-tittle{
    font-weight: 85;
    font-size: 85px;
}
.banner-profile-pic{
   width: 500px;
}
